{% extends "base.html" %}
{% load static %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <nav class="navbar">
        <div class="logo">
            <a href="{% url 'ByteBusterApp:homepage' %}">
                <img src="{% static 'images/logo.png' %}" alt="Bytebuster Logo">
            </a>
        </div>

        {% if user.is_authenticated %}
            Welcome - {{ user.username }}!
            <form action="{% url 'logout' %}" method="post">
              {% csrf_token %}
              <button type="submit" class="login-button" style="text-decoration: none;">Log Out</button>
            </form>
        {% else %}
            <a href="{% url 'login' %}" class="login-button">Log In</a>
        {% endif %}
    </nav>

    <div class="content">
        <h1 class="dashboard-title">Dashboard <span class="free-text">Free User</span></h1>
        <div class="button-container">
            <a href="{% url 'ByteBusterApp:pricingpage' %}" class="login-button btn-block" style="width: 115px; height: 56px;">Upgrade</a>
        </div>
    </div>

  <div class="dash-section">

        <div class="dash-bar">
            <div class="left-section">
                My Widgets
            </div>
            <div class="right-section">
                <a href="{% url 'ByteBusterApp:homepage' %}" class="create-widget-button">Create Widget</a>
            </div>


        </div>

  </div>

{% endblock %}
